@-webkit-keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

body {
  background: #fff;
  font-size: 100%;
  margin: 0;
  font-family: Roboto, arial, sans-serif;
}

.is-resizing {
  -webkit-user-select: none;
}

textarea {
  opacity: 0;
}

hr {
  border: none;
  background: #ccc;
  height: 1px;
}

.type--standard-weight {
  font-weight: normal;
}

.top-nav {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 102;
}

.execution-context-selector {
  border: none;
  background: transparent;
  height: 25px;
  margin-left: 28px;
  font-size: 12px;
  width: 150px;
  color: inherit;
}

.loading {
  opacity: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #3b89f3;
  border-top-color: transparent;
  -webkit-animation: spin 1s infinite linear;
  -webkit-transition: all 500ms ease;
}

.loading.is-active {
  opacity: 1;
}

@import 'modules/buttons'
@import 'modules/settings'

.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 102;
}

.output {
  position: absolute;
  right: 0;
  top: 26px;
  width: 30%;
  height: calc(100% - 26px);
  resize: both;
  overflow: auto;
  z-index: 101;
}

.output .CodeMirror {
  height: 100%;
}

.output .CodeMirror.cm-s-solarized.cm-s-dark,
.output .CodeMirror.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: #001E25;
}

.output .CodeMirror.cm-s-default,
.output .CodeMirror.cm-s-default .CodeMirror-gutters {
  background-color: #F7F7F7;
}

.output.is-hidden {
  display: none;
}

.input .CodeMirror {
  top: 26px;
}

.input.is-reduced {
  width: 70%;
}

.input .line-error {
  color: #990000;
  border: 1px solid #990000;
  background: white;
  border-radius: 3px;
  padding: 5px;
  line-height: 1.1em;
}

.input .cm-s-monokai .line-error,
.input .cm-s-dark .line-error {
  background: black;
  color: #ff5555;
}

.input .line-error-icon {
    color: #900;
    background-color: #fcc;
    font-weight: bold;
    border-radius: 50%;
    padding: 0 3px;
    margin-right: 7px;
    float: left;
}

.input .line-error-info{
    margin-left: 2em;
}

.output .CodeMirror {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.resize {
  height: 100%;
  width: 5px;
  border-left: 1px solid #A3A3A3;
  background: transparent;
  cursor: col-resize;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
}
