@-webkit-keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

body {
  background: #fff;
  font-size: 100%;
  margin: 0;
}

.is-resizing {
  -webkit-user-select: none;
}

textarea {
  opacity: 0;
}

hr {
  border: none;
  background: #ccc;
  height: 1px;
}

.top-nav {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 102;
}

.execution-context-selector {
  border: none;
  background: transparent;
  height: 25px;
  margin-left: 28px;
  font-size: 12px;
  width: 150px;
  color: inherit;
}

.btn {
  border-radius: 2px;
  font-weight: bold;
  font-family: Roboto, arial, sans-serif;
  font-size: 12px;
  cursor: pointer;
  padding: 6px 12px;
}

.btn-primary {
  background: #4d90fe;
  border: 1px solid #3079ed;
  color: white;
}

.btn-primary:hover {
  box-shadow: inset 0 -1px 0 #2f69c2;
  background-color: #4285f4;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  border-bottom-color: #2f69c2;
}

.btn-primary:active {
  box-shadow: inset 0 1px 0 #21448d;
  background: #2c56b1;
  border: 1px solid transparent;
  border-top: 1px solid #21448d;
}

.btn-secondary {
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background: white;
  padding: 7px 12px;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  border: 1px solid rgba(0,0,0,.15);
  color: #404040;
}

.btn-secondary:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  border: 1px solid #b8b8b8;
}

.btn-secondary:focus {
  outline: none;
}

.btn-secondary:active {
  box-shadow: inset 0 2px 0 #ddd;
  background: #e5e5e5;
  color: #262626;
}

.btn:focus {
  outline: none;
}

.btn-secondary.is-open {
  right: 30%;
}

.column {
  width: 40%;
  display: inline-block;
}

.loading {
  opacity: 0;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid #3b89f3;
  border-top-color: transparent;
  -webkit-animation: spin 1s infinite linear;
  -webkit-transition: all 500ms ease;
}

.loading.is-active {
  opacity: 1;
}

.CodeMirror {
  height: auto;
  line-height: 1.45em;
}

.CodeMirror-scroll {
  height: calc(100% - 26px);
}

.actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 102;
}

.open-settings {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.open-settings path {
  fill: #586e75;
}

.settings {
  perspective: 500px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 103;
}

.settings__panel {
  background: #fff;
  position: absolute;
  width: 40%;
  height: 60%;
  left: 30%;
  top: 20%;
  opacity: 0;
  box-shadow: 0 5px 20px rgba(200, 200, 200, 0.8);
  border: 1px solid #ddd;
  pointer-events: none;
  -webkit-transform: scale(0.9) translateY(40px) rotateX(-20deg);
  transition: all 200ms ease;
}

@media (max-width: 500px) {
  .settings__panel {
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
  }
}

@media (max-height: 450px) {
  .settings__panel {
    height: 100%;
    top: 0;
  }
}

.settings.is-active .settings__panel {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) translateY(0) rotateX(0deg);
}

.settings__close-btn {
  text-decoration: none;
  color: #999;
  display: block;
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 18px;
  line-height: 17px;
  padding: 5px 7px;
  border-radius: 50%;
  text-align: center;
}

.settings__close-btn:hover,
.settings__close-btn:active {
  background: #ccc;
  color: #fff;
}

.settings__section {
  padding: 0 1em;
}

.settings__option-container {
  padding: 3px;
}

.settings__spinner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.output {
  position: absolute;
  right: 0;
  top: 26px;
  width: 30%;
  height: calc(100% - 26px);
  resize: both;
  overflow: auto;
  z-index: 101;
}

.output .CodeMirror {
  height: 100%;
}

.output .CodeMirror.cm-s-solarized.cm-s-dark,
.output .CodeMirror.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: #001E25;
}

.output .CodeMirror.cm-s-default,
.output .CodeMirror.cm-s-default .CodeMirror-gutters {
  background-color: #F7F7F7;
}

.output.is-hidden {
  display: none;
}

.input .CodeMirror {
  top: 26px;
}

.input.is-reduced {
  width: 70%;
}

.input .line-error {
  color: #990000;
  border: 1px solid #990000;
  background: white;
  border-radius: 3px;
  padding: 5px;
  line-height: 1.1em;
}

.input .cm-s-monokai .line-error,
.input .cm-s-dark .line-error {
  background: black;
  color: #ff5555;
}

.input .line-error-icon {
    color: #900;
    background-color: #fcc;
    font-weight: bold;
    border-radius: 50%;
    padding: 0 3px;
    margin-right: 7px;
    float: left;
}

.input .line-error-info{
    margin-left: 2em;
}

.output .CodeMirror {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.resize {
  height: 100%;
  width: 5px;
  border-left: 1px solid #A3A3A3;
  background: transparent;
  cursor: col-resize;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
}
