body
  background #fff
  font-size 100%
  margin 0
  font-family Roboto, arial, sans-serif

hr
  border none
  background #ccc
  height 1px

.type--standard-weight
  font-weight normal

.center
  text-align center

