.input
  &.is-reduced
    width 70%

  .CodeMirror
    top 26px
    height calc(100% - 26px)

  .line-error
    color #990000
    border 1px solid #990000
    background white
    border-radius 3px
    padding 5px
    line-height 1.1em

  .cm-s-monokai .line-error,
  .cm-s-dark .line-error
    background black
    color #ff5555

  .line-error-icon
    color #900
    background-color #fcc
    font-weight bold
    border-radius 50%
    padding 0 3px
    margin-right 7px
    float left

  .line-error-info
    margin-left 2em

.is-resizing
  -webkit-user-select none

.input--text
  width 100%
  border none
  border-bottom 3px solid #eeeeee
  font-size inherit
  padding 8px 0
  transition all 200ms ease

  &:focus:not([readonly]), &:active:not([readonly])
    outline none
    border-bottom-color #4d90fe
